.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #3787bf;
  width: 100%;
  padding: 10px 10px 0px 10px;
  z-index: 1;
}

.nav-item{
  width: 14.2857142%;
  text-align: center;
}

.nav-link{
}

.nav a {
  width: 100%;
}

.home1{
  height: 100%;
}

.nav a:hover {
  background: #ddd;
  color: black;

}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tab-content{
  margin-top: 80px;
  margin-bottom: 80px;
}

.sampleCar {
  width: 20%;
  height: 20%;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
<<<<<<< HEAD

.vertical-menu {
    width: 200px; /* Set a width if you like */
}
=======
>>>>>>> 5a2ec2a55d8d8ac3fc4c5a055a0cda5a5ecaf2ad

body{
  background-color: #3787bf;
  width: 100%;
  height: 100%;
  font-family: 'Goudy Bookletter 1911', serif;
}
